<%- include('include/custheader') %> 

<div class="container">
  <div class="row">
      <div class="col-6 mx-auto">
          <h3>Edit Customer</h3>
          <form action='/customers/edit/<%= customer.id%>' method="POST">
            <div class="form-group">
              <label for="name">customer_name</label>
              <input type="text" class="form-control" id="name" name="customer_name" value="<%= customer.customer_name %>">
              <small class="form-text text-muted">Please input another name!</small>
            </div>
            <div class="form-group">
                <label for="hammock">password</label>
                <input type="password" class="form-control" id="password" name="password" value="<%= customer.password %>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
</div>
<%- include('include/footer') %>

