<%- include('include/prodheader')%>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <h3>Edit Ship</h3>
                <form action='/products/edit/<%= products.id%>' method="POST">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="product_name" value="<%= products.product_name %>">
                    <small class="form-text text-muted">Don't input the same name</small>
                  </div>

                  <div class="form-group">
                    <label for="image">Image</label>
                    <input type="text" class="form-control" id="image" name="product_image" value="<%= products.product_image %>">
                    <small class="form-text text-muted">Note : Input URL</small>
                  </div>
  
                  
                  <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" name="product_price" value="<%= products.product_price %>">
                  </div>
                  
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
  </div>
    
    <%- include('include/footer') %>

